@{
    ViewBag.Title = "Request Sent";
}

<div id="top-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>@ViewBag.Title.</h2>
                <h3 class="text-success">Your request has been sent.</h3>
                <p>
                    Thank you for requesting access to innovation.org.je. Your request has been sent by email and we will be in touch with you as soon as possible.
                </p>
            </div>
        </div>
    </div>
</div>
