@using scorecard.Models;
@model StatusUpdateViewFailedModel
<hr />
<p>
    Sorry, your update failed. This shouldn't really happen. Ook.
</p>
<p>
@if(!string.IsNullOrEmpty(Model.Message))
{
    @Model.Message;
}
else
{
    @Model.Exception.Message;
}
</p>