@using Microsoft.AspNet.Identity
<div class="col-sm-3 login">
    @if (Request.IsAuthenticated)
    {

        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <span>
                @User.Identity.GetUserName()
            </span>
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    }
    else
    {
        @Html.ActionLink("Login", "ExternalLogin", "Account", new { provider = "LinkedIn", returnUrl="/" }, null)
    }

    @Html.ActionLink("Status", "Index", "Home", null, null, "status", null, null)
</div>